.git
.github
.venv
venv
env
__pycache__
*.py[cod]
.pytest_cache
.mypy_cache
.tox
.nox
.coverage
.coverage.*
htmlcov
*.egg-info
dist
build
.eggs
tests
docs
*.log
.pre-commit
.editorconfig
.vscode
.idea
